[submodule "seasonsforce-ms-api-gateway"]
	path = seasonsforce-ms-api-gateway
	url = https://github.com/lorenzo-italiano/seasonsforce-ms-api-gateway.git
[submodule "seasonsforce-ms-offers-api"]
	path = seasonsforce-ms-offers-api
	url = https://github.com/lorenzo-italiano/seasonsforce-ms-offers-api.git
[submodule "seasonsforce-ms-discovery-service"]
	path = seasonsforce-ms-discovery-service
	url = https://github.com/lorenzo-italiano/seasonsforce-ms-discovery-service.git
[submodule "seasonsforce-ms-config-server"]
	path = seasonsforce-ms-config-server
	url = https://github.com/lorenzo-italiano/seasonsforce-ms-config-server.git
[submodule "seasonsforce-ms-configuration"]
	path = seasonsforce-ms-configuration
	url = https://github.com/lorenzo-italiano/seasonsforce-ms-configuration.git
[submodule "seasonsforce-ms-address-api"]
	path = seasonsforce-ms-address-api
	url = https://github.com/lorenzo-italiano/seasonsforce-ms-address-api.git
