[submodule "seasonsforce-ms-api-gateway"]
	path = seasonsforce-ms-api-gateway
	url = https://github.com/lorenzo-italiano/seasonsforce-ms-api-gateway.git
	branch = develop
[submodule "seasonsforce-ms-discovery-service"]
	path = seasonsforce-ms-discovery-service
	url = https://github.com/lorenzo-italiano/seasonsforce-ms-discovery-service.git
	branch = main
[submodule "seasonsforce-ms-config-server"]
	path = seasonsforce-ms-config-server
	url = https://github.com/lorenzo-italiano/seasonsforce-ms-config-server.git
	branch = main
[submodule "seasonsforce-ms-configuration"]
	path = seasonsforce-ms-configuration
	url = https://github.com/lorenzo-italiano/seasonsforce-ms-configuration.git
	branch = main
[submodule "seasonsforce-ms-address-api"]
	path = seasonsforce-ms-address-api
	url = https://github.com/lorenzo-italiano/seasonsforce-ms-address-api.git
	branch = develop
[submodule "seasonsforce-ms-company-api"]
	path = seasonsforce-ms-company-api
	url = https://github.com/lorenzo-italiano/seasonsforce-ms-company-api.git
	branch = develop
[submodule "seasonsforce-ms-offer-api"]
	path = seasonsforce-ms-offer-api
	url = https://github.com/lorenzo-italiano/seasonsforce-ms-offer-api.git
	branch = develop
[submodule "seasonsforce-ms-keycloak"]
	path = seasonsforce-ms-keycloak
	url = https://github.com/lorenzo-italiano/seasonsforce-ms-keycloak.git
	branch = main
[submodule "seasonsforce-ms-user-api"]
	path = seasonsforce-ms-user-api
	url = https://github.com/lorenzo-italiano/seasonsforce-ms-user-api.git
